
/*para el boton de la cabecera que tiene visibilidad segun el rol*/


.visible4admins{
    display: none;
}

.errorcito{
     /*
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
    */

    display:flex;
    position:absolute;
    min-width: 300px;
    min-height: 30px;
    border-radius: 10px;
    padding: 10px 15px;
    bottom: 70px;
    right: 30px;
    background: #ff6860;
    border: 2px solid #dc1818;
    color: #3d0818;
}

*{
    margin: 0;
    padding: 0;
    
    /*color: black;*/
}

body{
    min-height: 100vh;
}

a{
    text-decoration: none;

}

.modal2323{
    color: #dc1818;
}

.mensajito{
    display:flex;
    
    min-width: 300px;
    min-height: 30px;
    border-radius: 10px;
    padding: 10px 15px;
    bottom: 70px;
    right: 30px;
    background: #60eaff;
    border: 2px solid #dc1818;
    color: #3d0818;
    z-index: 9989898;
}

li{
    list-style: none;
}

h1,
h2{
    /*color: #444;*/
    color: black ;
}

h3{
    /*color: #999;*/
    color: black ;
}

.equis{
    border: 1px solid #444;
    border-radius: 50%;
    background-color: #444;
    position: absolute;

    color: white;
    font-size: 15px;

    padding-top: 5px;
    padding-left: 9px;
    padding-right: 10px;
    padding-bottom: 5px !important;

    align-items: center;
    justify-content: center;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
}

.equis:hover{
    border: 1px solid #444;
    background-color: #7b7b7b;
    transition: 0.3s;
}

.equis2{
    border: 1px solid #1e1e1e;
    border-radius: 50%;
    background-color: rgb(149, 177, 214);
    position: absolute;

    color: rgb(0, 0, 0);
    font-size: 15px;

    padding-top: 5px;
    padding-left: 9px;
    padding-right: 10px;
    padding-bottom: 5px !important;

    align-items: center;
    justify-content: center;
    right: -10px;
    top: -15px;
    width: 30px;
    height: 30px;
}

.equis2:hover{
    border: 1px solid rgb(119, 159, 211);
    background-color: rgb(119, 159, 211);
    transition: 0.3s;
}

.ttt{
    margin-top: 10px;
    margin-bottom: 25px;
}

.formm{
   
    width: 100%;
}

.form_cont{
    display: grid;
    gap: 2em;
}

.form__g{
    position: relative;
    --color: rgba(0, 0, 0, 0.572);

}

.form__inp{
    width: 100%;
    background: none;
    font-family: 'Lexend', sans-serif !important;
    color: black;
    font-size: 1rem;
    padding: .1em .1em;
    border: none;
    outline: none;

    margin-top: 6px;
    border-bottom: 1px solid var(--color);

}

.form__lab{
    color: var(--color);
    cursor: pointer;
    
    top: 0;
   
    left: 5px;
    
    
}

.form__line{

}

.modalcont{
    box-sizing: border-box;
    background-color: rgba(1, 1, 1, 0.592);
    
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;

    opacity: 0;
    
    font-family: 'Lexend', sans-serif !important;
    
    display: none;
    
    position: fixed;
    /*pointer-events: none !important;*/
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    transition: opacity 2s !important;

}

.modalconterrorMSG{
    box-sizing: border-box;
    /*background-color: rgba(1, 1, 1, 0.592);*/
    background-color: rgba(1, 1, 1, 0);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;

    opacity: 1;
    display: flex;

    font-family: 'Lexend', sans-serif !important;
    
    
    
    position: fixed;
    /*pointer-events: none !important;*/
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    transition: opacity 2s !important;

}

.modalcont2{
    display: flex;
    background-color: rgba(0, 0, 0, 0.71) !important;
    
    opacity: 0;
}

.modal{
    box-sizing: border-box;
    background-color: rgb(225, 221, 221);
    
    /*align-items: center;*/
    justify-content: center;
    min-height: 30vh;

    font-family: 'Lexend', sans-serif !important;
    display: flex;
    
    pointer-events: all;
    
    width: 500px;
    height: 80%;

    padding: 30px 50px;

    border-radius: 7px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.modal12{
    box-sizing: border-box;
    background-color: rgb(149, 177, 214);
    
    /*align-items: center;*/
    justify-content: center;
    /*min-height: 30vh;*/

    font-family: 'Lexend', sans-serif !important;
    display: flex;
    
    pointer-events: all;
    
    width: 400px;
    height: fit-content !important;

    padding-top: 10px !important;
    padding: 10px;

    border-radius: 7px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.closeBt{

    font-family: 'Lexend', sans-serif !important;
    background: #30087c;
    color: white;
    padding: 5px 10px;
    text-align: center;
    border: 2px solid #30087c;
    
    transition: 0.6s;
    
    border-radius: 20px;
}

.closeBt:hover{
    color: #30087c;
    background: rgba(255, 255, 255, 0.686);
    /*padding: 3px 8px;*/
    border: 2px solid #30087c;
}

.popupvis{
    display: none;
    width: 300px;
    height: 500px;
}

.btnn{

    font-family: 'Lexend', sans-serif !important;
    background: #30087c;
    color: white;
    padding: 5px 10px;
    text-align: center;
    border: 2px solid #30087c;
    
    cursor: pointer;
    transition: 0.6s;
    
    border-radius: 20px;
}

.btnn:hover{
    color: #30087c;
    background: white;
    /*padding: 3px 8px;*/
    border: 2px solid #30087c;
}

.titulodiv{
    display: flex;
    color: black !important;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #999;
    margin-bottom: 15px;
}

table{

    padding: 10px;
}

th,td{

    text-align: left;
    padding: 8px;
}

.side-menu{

    position: fixed;
    background: #f05462;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.contenidoPag{
    background: linear-gradient(180deg, #30087c, #000000, #87067d);
    position: relative;
}

.containerAdmin{
    
    background: linear-gradient(180deg, #30087c, #000000, #87067d);
    position: absolute;
    right: 0;
    width: 100vw;
    height: 91.5%;
    /*background: white;*/

}

.containerAdmin .headerAdmin{

    position: relative;
    
    /*position: fixed;*/
    top: 0;
    right: 0;
    width: 100vw;
    height: 10vh;
    
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    z-index: 1;

}

.containerAdmin .headerAdmin .nav{
    width: 90%;
    display: flex;
    align-items: center;

}

.containerAdmin .headerAdmin .nav .search{
    
    flex: 3;
    /*background: green;*/
    display: flex;
    justify-content: center;
}

.containerAdmin .headerAdmin .nav .search input[type=text]{
    
    border: none;
    background: #f1f1f1;
    padding: 10px;
    width: 50%;

}

.containerAdmin .headerAdmin .nav .search button{
    
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.containerAdmin .headerAdmin .nav .usuInfo{
    
    flex: 1;
    /*background: hotpink;
    margin-left: 20px;*/

}


.containerAdmin .contenidoPag{
    position: relative !important;
    margin-top: 0vh;

    /*background: #f1f1f1;*/
}

.containerAdmin .contenidoPag .cardss{
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 3%;

}

.containerAdmin .contenidoPag .cardss .cardD{
    width: 185px;
    height: 120px;
    
    /*background: rgba(225, 221, 221, 0.724) !important;*/
    background:  #c75bbe00;
   
    margin: 3% 3%;
    
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: space-around;

    box-shadow:  0 4px 8px 0 rgba(255, 255, 255, 0.434), 
    0 6px 20px 0 rgba(255, 255, 255, 0.398);
}


.blancor{
    color: white !important;
}

.iconCas img{
    width: 60px;

}

.containerAdmin .contenidoPag .content-2{

    min-height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

}

.containerAdmin .contenidoPag .content-2 .usersp{
    
    max-height: 60vh;
    flex: 5;
    background: rgba(225, 221, 221, 0.518);
    margin-left:5%;
    margin-right: 2%;
    overflow-y: scroll;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    
}
.containerAdmin .contenidoPag .content-2 .usersp table{
    width: 97%;
    margin-left: 3%;
    border-collapse: collapse;
}
.containerAdmin .contenidoPag .content-2 .usersp table th, td {
    padding: 10px;
    text-align: left;
  }
.containerAdmin .contenidoPag .content-2 .seccionIzq{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.containerAdmin .contenidoPag .content-2 .usersp table td:nth-child(1) img{
    
    height: 40px;
    width: 40px;
}

.containerAdmin .contenidoPag .content-2 .new-users{
    
    flex: 2;
    background: rgba(225, 221, 221, 0.518);
    min-height: 81vh;
    color: black !important;
    margin-right: 1.5%;
    margin-top: 2.8%;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);

    padding-top: 3px;
    padding-left: 20px;
    padding-right: 20px;  
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;

}

@media screen and (max-width: 800px){
    
    .containerAdmin .contenidoPag .cardss{
        justify-content: center;
    }
    .containerAdmin .contenidoPag .content-2 .usersp .new-users table td:nth-child(3){
        display: none;
    }
    table {
        display: block;
      }
      tbody {
        display: block;
        width: 100%;
        overflow-x: auto;
      }
      tr {
        display: block;
      }
      th, td {
        display: block;
      }
}
::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    display: none;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #87067d, #30087c);
}





