@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@700&display=swap');
* {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

body {
  font-family: 'Lexend', sans-serif;

  user-select: none;
	-webkit-user-select: none;
}

#cabecera-header{
  height: 70px !important;
  background-color: rgb(0, 0, 0);
  width:100%;
  position:relative;
}

/* Logo */
.LoBeat {
  padding: 0 0 0 20px;
  float: left;
  height: 100%;
  display: flex;
  align-items: center;
}

.LoBeat a {
	color: white;
	font-size: 30px;
	text-align: center;
  text-decoration:none;
}

/* Sección derecha */
.cabeceraDerecha {
  float:right;
  padding: 0 20px 0 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.cabeceraDerecha a{
  text-decoration:none;
  color:#ffffff;
  z-index: 1000;
}

.cabeceraDerecha li{
  list-style:none;
  float:left;
  margin-right: 15px;
  font-size: 20px;
}

.cabeceraDerecha a:hover{
	color: #ff52f3;
}

/* Caja que se despliega (ul es cada elemento en ella) */
.cabeceraDerecha ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.cabeceraDerecha li {
  position: relative;
}

.cabeceraDerecha ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
}

.cabeceraDerecha .dropdown {
  position: absolute;

 
  background-color: black;
 
  border: 1px solid #ccc;
  z-index: 1;
  display: none;
}

.cabeceraDerecha .dropdown li {
  display: block;
}

.cabeceraDerecha .dropdown li a {
  color: #6c6c6c;
}

.cabeceraDerecha .dropdown li a:hover{
	color: #ff52f3;
}

.cabeceraDerecha li:hover > .dropdown {
  display: block;
}