* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #00ff48;
    font-family: 'Montserrat', sans-serif;
  }

.left-section {
    background-color: #e41111;
    left: 0;
    top: 0;
    bottom: 0;
    width: 250px;
    float: left;
    height: 100vh;
    padding: 24px;
}

.right-section {
    background-color: #1778d8;
    /*width: calc(100% - 250px);
    /*float: right;*/
    height: 100vh;
}

.lista-playlists {
    background-color: rgb(215, 22, 218);
}