body{
    font-family: sans-serif;
    background-image:url("../img/fondoLogin.png") ;  
    
    margin:0;
    padding:0;
}

h1{
    margin-left: 13%;
    font-size: 30px;
    color: black;
}

#mapa{
    min-height: 450px;
    height: 80%;
    width: 50%;
    border: rgb(86, 3, 86) 8px solid;
    margin-left: 5%;
    border-radius: 5px;
}
