body{
    font-family: sans-serif;
    background: linear-gradient(-300deg, #36e2ec, #000000,#000000, #000000,#000000, #36e2ec) ;
    margin: 0;
	padding: 0;
	background-position: center center;
	background-attachment: fixed;
	font-family: 'Lexend', sans-serif;

    
}

#mapa{
    margin-top: 2%;
    min-height: 570px;
    height: 30%;
    width: 50%;
    border: rgb(86, 3, 86) 8px solid;
    margin-left: 2%;
    border-radius: 5px;
}
