@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
body{
    font-family: sans-serif;
    background: linear-gradient(180deg, #30087c, #000000, #87067d);
    background-size: 100% 100%;
    margin: 0;
	padding: 0;
	background-position: center center;
	background-attachment: fixed;
	font-family: 'Lexend', sans-serif;   
}

/* Mapa */
#mapa{
    margin: 15px 0 0 20px;
    height: 625px;
    width: 700px;
    border: #ffffff 2px solid;
    border-radius: 5px;
    float:left;
}

/* Sección derecha */
.seccionDer {
    /* background-color: aqua; */
    margin-left: 750px;
    margin-top: 15px;
    width: 760px;
    height: 600px;
}

/* Sección cuando no hay nada seleccionado */
.seccionDer .seccionVacia {
    background-color: #87067d;
    color:#ffffff;
    text-align: center;
    vertical-align: middle;
    line-height: 500px;
}

/* Sección al seleccionar un usuario */
.seccionDer .visualizacionUsuario {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 2%;
}

.seccionDer .visualizacionUsuario .infoUsuario {
    overflow-y: auto;
    height: 553px;
}

/* Estlos barra de desplazamiento */
::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    display: none;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background:#ac0d97;
}

.seccionDer .visualizacionUsuario .infoUsuario img{
    /* background-color: bisque; */
    width: 220px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
}

.seccionDer .visualizacionUsuario .infoUsuario h1{
    /* background-color: rgb(193, 121, 33); */
    text-align: center;
    font-size: 30px;
    color:#ffffff;
}

.seccionDer .visualizacionUsuario .infoUsuario h2{
    /* background-color: rgb(33, 60, 158); */
    text-align: center;
    font-size: 20px;
    color:#f873f2;
}

.seccionDer .visualizacionUsuario .infoUsuario p{
    /* background-color: rgb(84, 187, 19); */
    height: 155px;
    font-size: 15px;
    padding: 0 40px 0 40px;
    overflow: hidden;
    color:#ffffff;
}

.seccionDer .visualizacionUsuario .infoUsuario h3{
    /* background-color: rgb(84, 187, 19); */
    margin:  20px 0 0 20px;
    color: #ef2378;
}

.seccionDer .visualizacionUsuario .infoUsuario .tabla-filas {
    /* background-color: rgb(174, 185, 20); */
    overflow: hidden;
    width: 100%;
    color:white;
    font-size: 18px;
}

.seccionDer .visualizacionUsuario .infoUsuario .tabla-filas .fila {
    /* background-color: rgb(212, 17, 144); */
    overflow: hidden;
}

.seccionDer .visualizacionUsuario .infoUsuario .tabla-filas .fila .imagen-fila{
    /* background-color: #30087c; */
    float: left;
    margin-left: 40px;
    margin-top: 20px;
}

.seccionDer .visualizacionUsuario .infoUsuario .tabla-filas .fila .imagen-fila img{
    width: 50px;
    height: auto;
    padding-top: 0px;
}

.seccionDer .visualizacionUsuario .infoUsuario .tabla-filas .fila .titulo-fila{
    /* background-color: #1be282; */
    font-family: 'Poppins', sans-serif;
    float: left;
    margin-left: 10px;
}

.seccionDer .visualizacionUsuario .infoUsuario .tabla-filas .fila .titulo-fila .subtitulo{
    font-size: 11px;
    color: #ffbae1;
    overflow: hidden;
}

.seccionDer .visualizacionUsuario .botonesUsuario {
    /* background-color: #e21b43; */
    width: auto;
    text-align: center;
}

.seccionDer .visualizacionUsuario button {
    transition: background-color 0.1s linear;
	border: none;
	outline: 0 solid transparent;
	word-break: break-word;
	cursor: pointer;
	border-radius: 999px;
    font-size: 50px;
    margin: 7px;
}

.seccionDer .visualizacionUsuario .cerrarUsuario {
	/* Estilo */
	background-color: #e21b43;
	color: white;
	box-shadow: #00000080 0 10px 20px -10px;
}

.seccionDer .visualizacionUsuario .cerrarUsuario:hover {
	background-color: #ffffff;
    color: #e21b43;
}

.seccionDer .visualizacionUsuario .abrirChat {
	/* Estilo */
	background-color: #1be282;
	color: white;
	box-shadow: #00000080 0 10px 20px -10px;
}

.seccionDer .visualizacionUsuario .abrirChat:hover {
	background-color: #ffffff;
    color: #1be282;
}