@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
body {
  font-family: sans-serif;
  background: linear-gradient(180deg, #30087c, #000000, #87067d);
  background-size: 100% 100%;
  margin: 0;
  padding: 0;
  background-position: center center;
  background-attachment: fixed;
  font-family: 'Lexend', sans-serif;
  overflow: hidden;
}

.main-container {
  overflow-y: auto;
}

.section1 {
  /* background-color: #ff52f3; */
  padding: 30px 0 0 40px;
}

.section1 h1{
  /* background-color: #30087c; */
  color: white;
  font-size: 30px;
  margin: 0px 0px 10px 0px; 
  font-weight:500;
  margin-bottom:20px;
}

.section1 a {
  text-decoration: none;
}

.section1 button {
  transition: background-color 0.2s linear;
  border: none;
  outline: 0 solid transparent;
  word-break: break-word;
  cursor: pointer;
  border-radius: 999px;
  margin-right: 20px;

  padding: 15px 15px;
  background-color: #e21ba0;
  color: white;
  box-shadow: #00000080 0 10px 20px -10px;
  font-size: 15px;
  text-align: center;
  font-weight: bolder;
}

.section1 button:hover {
  background-color: #ff52f3;
}

.section2 {
}

.section2 .window {
  border-radius: 5px;
  box-shadow: #00000080 0 10px 20px -10px;
  background: rgba(0, 0, 0, 0.3);
}

.section2 .izq {
  /* background-color: #52f9ff; */
  color: white;
  width: 900px;
  float: left;
  height: 100vh;
}

.section2 .der {
  /* background-color: #7aff52; */
  height: 100vh;
  display: flex;
}

.section2 .izq .window {
  /* background-color: yellow; */
  margin: 40px;
  height: 430px;
  padding-left: 30px;
  padding-top: 5px;
}

.section2 .der .window {
  /* background-color: rgb(0, 170, 255); */
  margin-top: 40px;
  margin-left: 40px;
  width: 560px;
  height: 430px;
}

.section2 .izq .window .sub-box {
  margin-right: 30px;
  margin-left: 10px;
}

.section2 .izq .window .sub-box h3{
  color: #ff83d6;
  font-size: 15px;
}

.section2 .izq .window .sub-box p{
  color: #ffffff;
  margin-left: 8px;
  font-size: 14px;
}






.section2 .der .window .contenedor-imagen {
  background-color: #5300834a;
  overflow: hidden;
  width: 250px;
  height: 250px;
  margin-top: -80px;
  margin-left: 155px;
  border-radius: 999px;

  /* Para centrar horiz y vert la imagen de dentro */ 
  display: flex;
  justify-content: center;
  align-items: center;
}

.section2 .der .window .contenedor-imagen img {
  width: 250px;
}

.section2 .der .window .info {
  margin-top: 30px;
  text-align: center;
  font-size: 15px;
  color: white;
  line-height: 25px;
}

.section2 .der .window .info i {
  margin-right: 5px;
}

.section2 .der .window .info h3{
  color: #ff83d6;
  font-size: 20px;
}

/* Estilos que se aplican sobre editProfile.php  */
.main-container .cancelar {
  transition: background-color 0.2s linear;
  border: none;
  outline: 0 solid transparent;
  word-break: break-word;
  cursor: pointer;
  border-radius: 999px;
  margin-right: 20px;

  padding: 15px 15px;
  background-color: #e21ba0;
  color: white;
  box-shadow: #00000080 0 10px 20px -10px;
  font-size: 15px;
  text-align: center;
  font-weight: bolder;

  position: absolute;
  margin: 87.5px 0 0 170px;
}

.main-container .cancelar:hover {
  background-color: #ff52f3;
}

.main-container a {
  text-decoration: none;
}

.section2 .izq .window input {
  width: 200px;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.section2 .izq .window select {
  width: 150px;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.section2 .izq .window select option{
  color: black;
  background: rgba(214, 155, 235, 0.521);
}

.section2 .izq .window textarea {
  resize: none;
  padding: 8px;
  border-radius: 7px;
  color: #ffffff;
  border: 1px solid white;
  background: transparent;
}

.section2 .der .window .contenedor-editar-imagen{
  height: 250px;
  width: 250px;
  margin-top: -80px;
  margin-left: 155px;
  border-radius: 999px;
  overflow: hidden;


  display: flex;
  justify-content: center;
  align-items: center;
}

.section2 .der .window .contenedor-editar-imagen img {
  width: 250px;
}

.section2 .der .window .contenedor-editar-imagen #file{
  display: none;
}

.section2 .der .window .contenedor-editar-imagen #uploadBtn{
  position: absolute;
  width: 250px;
  height: 250px;
  padding-top: 80px;
  border-radius: 999px;
  text-align: center;
  background: rgba(0, 0, 0, 0.635);
  color: rgb(255, 255, 255);
  line-height: 30px;
  font-size: 90px;
  cursor: pointer;
}